<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="createhtml.css" type="text/css" />

    <style>
     #map {
      height: 400px;
      width: 100%;
     }
     </style>
    <title> Create - Map </title>
  </head>

  <body>
    <div class="container">
    <div class ="jumbotron vertical-centre">
      <main>
      <div id="header">
        <p class="map title">City Name</p>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png" >
      </div>
          <div id="map"></div>
        <div id="map-display">


        </div>
        <div id="locations-result-container">
          <article class="location-result">
            <img class="location-img" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png" width="50px" height="50px">
            <div class="location-text">
              <h3 class="description"> Map Description: </h3>
              <p call ="p1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
          </article>
        </div>
      </main>
    </div>
    </div>

       <script async defer
    src= <%= `https://maps.googleapis.com/maps/api/js?key=${api_key}&callback=initMap`%>
    </script>



    <!-- Script Interacting with Google Maps API -->
    <script src="./public/scripts/map_script.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min."></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>

</html>