<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
     #map {
      height: 400px;
      width: 100%;
     }
     </style>
    <title> Create - Map </title>
  </head>

  <body>
    <div class="container">
    <div class ="jumbotron vertical-centre">
      <main>
      <div id="header">
        <p class="map title">City Name</p>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png" width= "50px" height=50px">
      </div>
          <div id="map"></div>
        <div id="map-display">


        </div>
        <div id="locations-result-container">
          <article class="location-result">
            <img class="location-img" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png" width="50px" height="50px">
            <div class="location-text">
              <h3 class="description"> Map Description: </h3>
              <form class= "map-description-bar" method = "PUT" action="/users/userid/maps/mapid">
               <div class="input-group">
                <textarea class ="form-control mapdesc" name="text" placeholder="Desribe your Map.. "></textarea>
                <span class="input-group-btn">
                <button class="btn btn-default" type="sumbit" value="search">Go!</button>
                </span>
              </div><!-- /input-group -->
              </form>
              <p call ="p1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
            </div>
          </article>
        </div>
      </main>
    </div>
    </div>

    <!-- Script Interacting with Google Maps API -->
    <script>
      function initMap() {
        var coordinates = { lat: <%= coordinates.lat %>, lng: <%= coordinates.lng %> };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: coordinates
        });
        var marker = new google.maps.Marker({
          position: coordinates,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMSpojBgluxblRVHmiRw4dLUntkjdj6dM&callback=initMap">
    </script>



   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min."></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="/createhtml.css" type="text/css">


  </body>

</html>