<html>
  <body>

     <form action="/register" method="post">
        <h2>Register</h2>
        <p>
          <label for="register-email">Email</label>
          <input id="register-email" name="email">
        </p>
        <p>
          <label for="register-password">Password</label>
          <input id="register-password" name="password" type="password">
        </p>
        <p>
          <button>Register</button>
        </p>
  </form>
  </body>

</html>